<% for(var i=0;i<collections.key.length;i++) { %>
<li>
    <a class='selcat' href='#' data-target='' data-id='<%= collections.key[i].id %>'>
        <%= collections.key[i].name %>
    </a>
</li>
<% } %>